# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/data

# production
/build
sachima
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.out
*.test

vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea/
output/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
